
* {
	box-sizing: border-box;
	margin: 0;
}

body, html {
	font-family: Arial, sans-serif;
}

#main {
	margin: 20px;
	padding: 20px;
	background-color: lightgray;
	border-radius: 5px;
	display: inline-block;
}

#main button {
	width: 100px;
	height: 30px;
	background-color: #555;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

#number {
	width: 100%;
	background-color: white;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 0;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
}

#logs {
	width: 100%;
	height: 400px;
}

#requests {
	width: 40%;
	height: 100%;
	padding: 20px;
	float: left;
}

#responses {
	width:  60%;
	height: 100%;
	padding: 20px;
	float: right;
}

#requests-title, #responses-title {
	width: 100%;
	height: 30px;
	line-height: 30px;
}

#requests-content, #responses-content {
	width: 100%;
	font-family: Courier New, monospace;
	font-weight: bold;
}
